#group_img {
	position: absolute;
	display: inline;
	margin: auto;
	top: 45%;
	left: 48.2%;
	width: 64px;
	height: 64px;
	user-select: none;
	align-items: center;
}
#group_img:hover {

	filter: brightness( 0 );
}
#groups_num {
	position: absolute;
    left: 50%;
 	top: 80%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
}
